{% extends 'gturnos/plantilla-base.html' %}

{% block titulo %}Detalle MEDICO{% endblock %}

{% block principal %}
	<h1>Detalle MEDICO</h1>
	<form method="POST" class="post-form">{% csrf_token %}
		<div class="panel panel-primary">
			<div class="panel-heading">

				<h3 class="panel-title"> Detalle</h3>
				</div>	
				<div class="panel-body">
					{{ med.dni }}
					{{ med.apellido }}
					{{ med.nombres }}
					{{ med.sexo }}
					{{ med.domicilio }}
					{{ med.telefono }}
					{{ med.fecha_nac }}
					{{ med.mat_profesional }}
					{{med.organizaciones}}				
				</div>
		</div>
		<button type="submit" class="save btn btn-default">GUARDAR</button>
	</form>
{% endblock %}